head

style



body {
    font-family: Verdana, Arial, "san serif";
    background-color: white;
    padding: 25px;
    font-size: 120%;
    margin: 0;
}



main {
display: block;
}
header {
font-size: 100px;
text-align: center;
}

iframe {
padding-left: 36px;
border: none;
height: 590px;
width: 1200px;


}

.us {
  max-width: 500px;
  max-height: 1000px;
  padding-left: 35px;
  padding-right: 20px;
  float: left;
  border-radius: 10px;
}

.text {
  padding-right: 17px;
  font-size: 25px;
}

.top {
  display: inline-block;
  max-width: 1280px;
  max-height: 1000px;
  z-index: -1;
}

.topnav {
  float: right;
  width: 1400px;
  overflow: hidden;
  background-color: #F77636;

}

.topnav a {
  float: right;
  color: white;
  text-align: center;
  padding: 18px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #F77636;
  color: yellow;
}


h1 {
  padding-left: 30px;
  color: #F77636;
}


footer {
  background: #F77636;
  height: 70px;
  color: white;
  width: auto;
}
