head

style

body {
    font-family: Helvetica, Arial, "san serif";
    background-color: white;
    padding: 25px;
    font-size: 120%;
    margin: 0%;
}

main {
  display: block;
}



iframe {
  padding-left: 36px;
  border: none;
  height: 700px;
  width: 1200px;


  }

.us {
  max-width: 500px;
  max-height: 1000px;
  padding-left: 35px;
  padding-right: 20px;
  float: left;
  border-radius: 10px;
}

.text {
  font-family: Helvetica;
  padding-right: 17px;
  font-size: 30px;
  color: #BD5745
}

.top {

  width: 100%;
  max-height: 1000px;
  z-index: -1;
}

.logo {
  max-width: 500px;
  max-height: 400px;
  margin-left: 20px;
  margin: none;
  padding-left: 10px;
}

.topnav {
  font-family: Helvetica;
  border-radius: 5px;
  float: right;
  width: 710px;
  padding-top: 5px;
  padding-right: 40px;
  overflow: hidden;
  background-color: #F77636;
}

.topnav a {
  float: right;
  color: white;
  text-align: center;
  padding: 18px 16px;
  text-decoration: none;
  font-size: 19px;
}

.topnav a:hover {
  color: yellow;
}

.bottomnav {
  float: right;
  width: 1300px;
  padding-top: 5px;
  padding-right: 30px;
  overflow: hidden;
  background-color: #F77636;
}

.bottomnav a {
  float: right;
  color: white;
  text-align: center;
  padding: 18px 16px;
  text-decoration: none;
  font-size: 19px;
}

.bottomnav a:hover {

  color: yellow;
}



h1 {
  font-family: Helvetica;
  color: #BD5745;
  font-size: 28px;
  width: 400px;
  height: 40px;
  text-align: center;
  border: solid #BD5745 2px;
  margin-left: 36px;

}

h1.aboutus {

  color: #BD5745;
  font-size: 28px;
  width: 130px;
  height: 40px;
  text-align: center;
  border: solid #BD5745 2px;
  margin-left: 36px;

}

h2 {
  margin-left: 600px;
  color: #F77636;

}

h3 {
  padding: 20px;
  margin-left: 20px;
}

*
{
  margin: 0;
  padding: 0;
}
.acai {
  max-width: 1200px;
  max-height: 1000px;
  margin-left: 36px;
}

footer {

}
