.logo-image{
   width: 46px;
   height: 46px;
   border-radius: 50%;
   overflow: hidden;
   margin-top: -6px;
}

footer{
  background-color: peachpuff;
  text-align: right;
  padding: 20px;
  margin-top: 30px;
  margin-left: -20px;
  margin-right: -20px;
}

.footer-img{
  float: left;
  width: 200px;
}

.intro{
  margin: 20px;
}

h3{
  margin-left: 15px;
}

h2 {
  color: #BD5745;
}

.stuff1{
  margin-left: 15px;
}

.nav-brand img{
  width: 20%;
  float: left;
}

img {
width: 100%;
height: auto;
}
